@import 'variables';

.facets {
	overflow: auto;
	background-color: $header-back;
	min-width: 250px;

	.facet-values {
		background-color: $header-back;
	}

	.facet {
		background-color: $facet-back;
		background-image: url('./res/divider.svg');
	    background-size: 50px 50px;
	    background-repeat: no-repeat;
	    background-position: center 0;

		padding: 20px 10px 10px;
		margin: 5px;

		color: $facet-text;

		.facet-label {
			padding-bottom: 5px;
			color: $plain-text;
		}

		.facet-value {
			display: block;
			border-radius: 5px;
			padding: 3px 10px;
			font-size: 80%;
			white-space: nowrap;
			cursor: pointer;

			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				color: $facet-text-hover;
				background-color: $facet-back-hover;
			}
		}


		.facet-pastille {
			border: 1px solid $saq-border;
			border-radius: 50%;
			width: 16px;
			margin-right: 6px;
			display: inline-block;
		}
	}
}

@media screen and (max-width: 700px) {
	.facets {
		overflow: visible;

		.facet-values {
			display: none;
			border: 1px solid $coveo-blue;
			position: absolute;
			z-index: 2;
			padding: 5px;
		}
		.facet {
			display: inline-block;
			background-image: none;
			padding: 0 10px;

			.facet-label {
				background-image: url('./res/down.svg');
				background-position: right center;
				background-repeat: no-repeat;
				background-size: 16px;
				padding-right: 24px;
			}

			&:focus {
				.facet-values {
					display: block;
				}
			}
		}

	}
}

body.search {
	.facet-value {
		input {
			display: none;
		}
	}
}

body.explore {
	// .results-summary {
	// 	display: none;
	// }
	.facets {
		display: flex;
		width: 100%;

		.facet {
			padding-top: 0;
			background-image: none;
			margin: 0;
			flex: 1;

			border-right: 1px solid $coveo-blue;
			&:last-child {
				border-right: none;
			}


			.facet-value > .nb {
				// display: none;
			}
		}
	}
	.facet-values {
		max-height: 200px;
		overflow: auto;
	}
}
