@import 'variables';

.facets {
	overflow: auto;
	background-color: $header-back;

	.facet {
		background-color: $facet-back;
		background-image: url('./res/divider.svg');
	    background-size: 50px 50px;
	    background-repeat: no-repeat;
	    background-position: center 0;

		padding: 20px 10px 10px;
		margin: 5px;

		color: $facet-text;

		.facet-label {
			padding-bottom: 5px;
			color: $plain-text;
		}

		.facet-value {
			border-radius: 5px;
			padding: 3px 10px;
			font-size: 80%;
			white-space: nowrap;
			cursor: pointer;

			&:hover {
				color: $facet-text-hover;
				background-color: $facet-back-hover;
			}
		}


		.facet-pastille {
			border-radius: 50%;
			width: 16px;
			margin-right: 6px;
			display: inline-block;
		}
	}
}

@media screen and (max-width: 700px) {
	.facets {
		display: none;
	}
}
