@import 'variables';

body {
	font-family: Roboto, Tahoma;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	color: $coveo-blue;
	cursor: default;
}

.header {
	height: 60px;
	background-color: $header-back;
	background-image: url('./res/logo.svg');
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size: auto 30px;
	padding: 10px 200px 0;
	line-height: 50px;
	display: flex;
}

.bottom {
	flex: 1;
	display: flex;
}

.results-container {
	overflow: auto;
	flex: 1;
	background-color: $header-back;
}


@media screen and (max-width: 700px) {
	.bottom {
		flex-direction: column;
	}
	.header {
		padding: 10px 30px 0 140px;
	}
}
