@import 'variables';

.results-summary {
	margin: 5px;
}

.query-correction, .filter {
	display: inline-block;
	padding: 2px 8px;
	margin: 0 5px;
	cursor: pointer;

	color: $coveo-blue;
	font-size: 80%;
	&:hover {
		color: $coveo-orange;
	}
}

.filters {
	color: $plain-text;
	display: flex;
	& > div {
		margin-right: 20px;
	}

	.filter-remove {
		width: 16px;
		height: 16px;
		line-height: 14px;
		color: $pastille-text;
		background-color: $remove;
		background-image: url('./res/x.svg');
		border-radius: 50%;
		text-align: center;
		display: inline-block;
	}
}

.sort-options {
	color: $plain-text;
	font-size: 13px;
	float: right;
	.sort-field {
		display: inline-block;
		margin-right: 10px;
		cursor: pointer;

		&:hover {
			color: $coveo-orange;
		}
		&.selected {
			font-weight: bold;
			color: $coveo-blue;
			border-bottom: 1px solid $coveo-blue;
		}
	}
}
