$coveo-blue: #004990;
$coveo-orange: #f58020;
$saq-border: #897446;

$header-back: #f0edee;
$list-back: #fff;
$pastille-text: #fff;

$remove: #d1495b; //#66101f //E94F37 // A20021
$plain-text: #0a090c;

$button-back: #d0cd94;
$button-text: #241623;
$button-text-hover: #bb4d00; // darker orange

$facet-back: $header-back;
$facet-text: $coveo-blue;

$item-name-text: $coveo-blue;
$item-desc-text: $plain-text;

$facet-back-hover: #235789;
$facet-text-hover: $coveo-orange;
